<div class="navbar">
  <div class="navbar__info">
    <ul class="navbar__info__list">
      <li class="navbar__info__list__item">
        <button
          class="navbar__info__list__item__btn"
          style="cursor: pointer;"
          routerLink="/home"
          >Home
        </button>
      </li>
      <li class="navbar__info__list__item">
        <button
          class="navbar__info__list__item__btn"
          style="cursor: pointer;"
          routerLink="/projects"
          >Projects
        </button>
      </li>
    </ul>
  </div>
  <div class="navbar__user">
    <ul class="navbar__user__list">
      <li class="navbar__user__list__item">
        <button
          class="navbar__user__list__item__btn"
          style="cursor: pointer;"
          routerLink="/register"
          >Register
        </button>
      </li>
      <li class="navbar__user__list__item">
        <button
          class="navbar__user__list__item__btn"
          style="cursor: pointer;"
          routerLink="/login"
          >Login
        </button>
      </li>
    </ul>
  </div>
</div>
