<div class="navbar">
  <div class="navbar__info">
    <ul class="navbar__info__list">
      <li class="navbar__info__list__item">
        <button
          id="homeBtn"
          class="navbar__info__list__item__btn"
          style="cursor: pointer;"
          routerLink="/home"
          [ngClass]="homeFocus ? 'active' : 'not-active'"
          (click)="onFocusHome()"
          ><p>Home</p>
        </button>
      </li>
      <li class="navbar__info__list__item">
        <button
          id="projectBtn"
          class="navbar__info__list__item__btn"
          style="cursor: pointer;"
          routerLink="/projects"
          [ngClass]="projectFocus ? 'active' : 'not-active'"
          (click)="onFocusProject()"
          ><p>Projects</p>
        </button>
      </li>
    </ul>
  </div>
  <img src="../../assets/img/lead.JPG" class="logo" routerLink="/home" (click)="onFocusHome()">
  <div class="navbar__user">
    <ul class="navbar__user__list">
      <li class="navbar__user__list__item" *ngIf="localData.getItem('currentUser') == ''">
        <button
          id="regBtn"
          class="navbar__user__list__item__btn"
          style="cursor: pointer;"
          routerLink="/register"
          [ngClass]="regFocus ? 'active' : 'not-active'"
          (click)="onFocusReg()"
          ><p>Register</p>
        </button>
      </li>
      <li class="navbar__user__list__item" *ngIf="localData.getItem('currentUser') == ''">
        <button
          id="logBtn"
          class="navbar__user__list__item__btn"
          style="cursor: pointer;"
          routerLink="/login"
          [ngClass]="logFocus ? 'active' : 'not-active'"
          (click)="onFocusLog()"
          ><p>Login</p>
        </button>
      </li>
      <li class="navbar__user__list__item" *ngIf="localData.getItem('currentUser') != ''">
        <button
          id="accBtn"
          class="navbar__user__list__item__btn"
          style="cursor: pointer;"
          routerLink="/account"
          [ngClass]="accFocus ? 'active' :'not-active'"
          (click)="onFocusAcc()"
          >Account
        </button>
      </li>
      <li class="navbar__user__list__item" *ngIf="localData.getItem('currentUser') != ''">
        <button
          id="logoutBtn"
          class="navbar__user__list__item__btn"
          style="cursor: pointer;"
          routerLink="/home"
          (click)="onLogout()"
          >Logout
        </button>
      </li>
    </ul>
  </div>
</div>
