<div class="container">
  <h2 *ngIf="focusedSprint == null">Sprints</h2>
   <div class="loadContainer" *ngIf="sprintsLoading">
      <div class="loader"></div>
    </div>

    <div class="container__sprintList" *ngIf="!sprintsLoading && focusedSprint == null">
      <div
        class="container__sprintList__item"
        *ngFor="let sprint of sprints"
        (click)="focusSprint(sprint)"
      >
        <p>{{ sprint.name }}</p>
        <p>Deadline</p>
      </div>
    </div>

    <div class="container__sprint" *ngIf="focusedSprint != null">
      <button
        class="xbtn"
        type="button"
        (click)="unfocusSprint()"
        >X
      </button>
      <h2>Sprint: {{ focusedSprint.name }}</h2>
      <div class="container__sprint__complete" *ngIf="userRole != 'member'">
        <button
          class="container__sprint__complete__btn"
          type="button"
          (click)="manageSprint()"
          >Manage Sprint
        </button>
        <button
          class="container__sprint__complete__btn"
          type="button"
          (click)="completeSprint()"
          [disabled]="todo.length > 0 || inProgress.length > 0"
          >Complete Sprint
        </button>
      </div>
      <div class="container__sprint__boxGroup">
        <div
          class="container__sprint__boxGroup__box"
          cdkDropList
          id="todoList"
          [cdkDropListConnectedTo]="['doList']"
          (cdkDropListDropped)="todoDrop($event)"
        >
          <h4>Todo</h4>
          <hr>
          <div
            class="container__sprint__boxGroup__box__item"
            *ngFor="let issue of todo"
            [cdkDragData]="issue"
            cdkDrag
            (click)="focusIssue(issue)"
          >
            <p>{{ (issue.name.length > 25) ? (issue.name | slice:0:30) + '...' : (issue.name) }}</p>
            <p>{{ issue.time }} hrs</p>
          </div>
        </div>
        <div
          class="container__sprint__boxGroup__box"
          cdkDropList
          id="doList"
          [cdkDropListConnectedTo]="['todoList', 'doneList']"
          (cdkDropListDropped)="doDrop($event)"
        >
          <h4>In Progress</h4>
          <hr>
          <div
            class="container__sprint__boxGroup__box__item"
            *ngFor="let issue of inProgress"
            [cdkDragData]="issue"
            cdkDrag
            (click)="focusIssue(issue)"
          >
            <p>{{ (issue.name.length > 25) ? (issue.name | slice:0:30) + '...' : (issue.name) }}</p>
            <p>{{ issue.time }} hrs</p>
          </div>
        </div>
        <div
          class="container__sprint__boxGroup__box"
          cdkDropList
          id="doneList"
          [cdkDropListConnectedTo]="['doList']"
          (cdkDropListDropped)="doneDrop($event)"
        >
          <h4>Done</h4>
          <hr>
          <div
            class="container__sprint__boxGroup__box__item"
            *ngFor="let issue of done"
            [cdkDragData]="issue"
            cdkDrag
            (click)="focusIssue(issue)"
          >
            <p>{{ (issue.name.length > 25) ? (issue.name | slice:0:30) + '...' : (issue.name) }}</p>
            <p>{{ issue.time }} hrs</p>
          </div>

        </div>
      </div>
      <button
        type="button"
        class="container__sprint__delete"
        (click)="onDeleteSprint()"
        *ngIf="userRole != 'member'"
        >Delete
      </button>
    </div>
</div>


<div class="container__issue" *ngIf="focusedIssue != null">
  <button
    type="button"
    class="xbtn"
    (click)="unfocusIssue()"
    >X
  </button>
  <h2>{{ focusedIssue.name }}</h2>
  <p>{{ focusedIssue.desc }}</p>
  <button
    type="button"
    class="container__issue__btn"
    (click)="todoToinProgress()"
    *ngIf="todo.includes(focusedIssue)"
    >Grab Issue
  </button>
  <div class="container__issue__btnGroup" *ngIf="inProgress.includes(focusedIssue) || done.includes(focusedIssue)">
    <button
      type="button"
      class="container__issue__btn"
      (click)="inProgressToTodo()"
      *ngIf="inProgress.includes(focusedIssue)"
      >Drop Issue
    </button>
    <button
      type="button"
      class="container__issue__btn"
      (click)="inProgressToDone()"
      *ngIf="inProgress.includes(focusedIssue)"
      >Complete Issue
    </button>
    <button
      type="button"
      class="container__issue__btn"
      (click)="doneToTodo()"
      *ngIf="done.includes(focusedIssue)"
      >Put in Todo
    </button>
    <button
      type="button"
      class="container__issue__btn"
      (click)="doneToinProgress()"
      *ngIf="done.includes(focusedIssue)"
      >Regrab Issue
    </button>
  </div>
  <br>
  <button
    type="button"
    class="container__issue__dropBtn"
    (click)="removeIssue()"
    *ngIf="userRole != 'member'"
    >Move Issue to Backlog
  </button>
</div>
