<div class="container">
  <h2 *ngIf="focusedSprint == null">Sprints</h2>
   <div class="loadContainer" *ngIf="sprintsLoading">
      <div class="loader"></div>
    </div>

    <div class="container__sprintList" *ngIf="!sprintsLoading && focusedSprint == null">
      <div
        class="container__sprintList__item"
        *ngFor="let sprint of sprints"
        (click)="focusSprint(sprint)"
      >
        <p>{{ sprint.name }}</p>
        <p>Deadline</p>
      </div>
    </div>

    <div class="container__sprint" *ngIf="focusedSprint != null">
      <button
        class="xbtn"
        type="button"
        (click)="unfocusSprint()"
        >X
      </button>
      <h2>Sprint: {{ focusedSprint.name }}</h2>
      <div class="container__sprint__complete">
        <button
          class="container__sprint__complete__btn"
          type="button"
          (click)="completeSprint()"
          >Complete Sprint
        </button>
      </div>
      <div class="container__sprint__boxGroup">
        <div
          class="container__sprint__boxGroup__box"
          cdkDropList
          id="todoList"
          [cdkDropListConnectedTo]="['doList']"
          (cdkDropListDropped)="todoDrop($event)"
        >
          <h4>Todo</h4>
          <hr>
          <div
            class="container__sprint__boxGroup__box__item"
            *ngFor="let issue of todo"
            [cdkDragData]="issue"
            cdkDrag
          >
            <p>{{ issue.name }}</p>
            <p>{{ issue.time }}</p>
          </div>
        </div>
        <div
          class="container__sprint__boxGroup__box"
          cdkDropList
          id="doList"
          [cdkDropListConnectedTo]="['todoList', 'doneList']"
          (cdkDropListDropped)="doDrop($event)"
        >
          <h4>In Progress</h4>
          <hr>
          <div
            class="container__sprint__boxGroup__box__item"
            *ngFor="let issue of inProgress"
            [cdkDragData]="issue"
            cdkDrag
          >
            <p>{{ issue.name }}</p>
            <p>{{ issue.time }}</p>
          </div>
        </div>
        <div
          class="container__sprint__boxGroup__box"
          cdkDropList
          id="doneList"
          [cdkDropListConnectedTo]="['doList']"
          (cdkDropListDropped)="doneDrop($event)"
        >
          <h4>Done</h4>
          <hr>
          <div
            class="container__sprint__boxGroup__box__item"
            *ngFor="let issue of done"
            [cdkDragData]="issue"
            cdkDrag
          >
            <p>{{ issue.name }}</p>
            <p>{{ issue.time }}</p>
          </div>

        </div>
      </div>
    </div>
</div>
