// Establish variables
$color-primary: rgb(3, 194, 194);
$color-grey-dark-1: rgb(37, 39, 37);

html {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
