// Establish variables
$color-primary-light: rgb(46, 255, 238);
$color-primary: rgb(41, 224, 209);
$color-secondary: rgba(41, 190, 178, 0.835);
$color-grey-dark-1: rgb(37, 39, 37);
$color-grey-light-1: rgb(84, 85, 84);

html {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

body {
  background-image: url('../assets/img/background2.jpg');
  background-size: cover;
}
