@import '../../../app.component.scss';

.container {
  background-color: $color-grey-dark-1;
  border: 2px solid $color-primary;
  border-radius: 2rem;
  height: 75vh;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  padding: 2%;
  margin-top: -2%;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;

    & h2 {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: $color-primary;
    }

    & select {
      cursor: pointer;
      color: $color-primary;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      width: 38%;
      height: 4rem;
      background-color: $color-grey-dark-1;
      border: 2px solid $color-primary;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      padding: 0 1%;
    }

    & select:focus {
      outline: none;
    }
  }

  &__team {
    width: 65%;
    margin: 0 auto;
    margin-top: 7%;
    border: 2px solid $color-primary;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

    & h2 {
      font-size: 1.6rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
      color: $color-primary;
      margin-bottom: 8%;
    }

    &__field {
      margin-bottom: 8%;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: $color-primary;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      & label {
        font-size: 1.4rem;
      }

      & input {
        color: $color-primary;
        font-size: 1.4rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 0 1%;
        height: 3rem;
        background-color: $color-grey-dark-1;
        border: 2px solid $color-primary;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
      }

      & input:focus {
        outline: none;
      }

      &__btn {
        background-color: $color-grey-dark-1;
        color: $color-primary;
        cursor: pointer;
        width: 10%;
        height: 3rem;
        font-size: 1.4rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border: 2px solid $color-primary;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
      }

      &__btn:hover {
        background-color: $color-primary;
        color: $color-grey-dark-1;
        transform: translate(3px, -3px);
        -webkit-transform: translate(3px, -3px);
        -moz-transform: translate(3px, -3px);
        -ms-transform: translate(3px, -3px);
        -o-transform: translate(3px, -3px);
      }
    }

    &__members {
      text-align: center;
      width: 80%;
      font-size: 1.4rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: $color-primary;
      margin: 0 auto;
      margin-top: 5%;
      background-color: $color-grey-dark-1;
      border: 2px solid $color-primary;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;

      & h2 {
        margin-bottom: 5%;
      }

      &__list {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;

        &__item {
          margin: 0 auto;
          margin-bottom: 15%;
          width: 15vh;
          padding: 2% 5%;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 2px solid $color-primary;
          border-radius: 2rem;
          -webkit-border-radius: 2rem;
          -moz-border-radius: 2rem;
          -ms-border-radius: 2rem;
          -o-border-radius: 2rem;

          & p {
            font-size: 1.4rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: $color-primary;
          }

          & i {
            color: $color-primary;
          }
        }
      }

      &__btn {
        color: $color-primary;
        cursor: pointer;
        margin-bottom: 3%;
        height: 3.5rem;
        width: 15%;
        background-color: $color-grey-dark-1;
        border: 2px solid $color-primary;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        transition: all .6s;
        -webkit-transition: all .6s;
        -moz-transition: all .6s;
        -ms-transition: all .6s;
        -o-transition: all .6s;
      }

      &__btn:hover {
        background-color: $color-primary;
        color: $color-grey-dark-1;
        transform: translate(5px, -5px);
        -webkit-transform: translate(5px, -5px);
        -moz-transform: translate(5px, -5px);
        -ms-transform: translate(5px, -5px);
        -o-transform: translate(5px, -5px);
      }

      &__popup {
        min-height: 40rem;
        font-size: 1.4rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        color: $color-primary;
        width: 60%;
        margin: 0 auto;
        background-color: $color-grey-dark-1;
        border: 2px solid $color-primary;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        transform: translate(0, -95%);
        -webkit-transform: translate(0, -95%);
        -moz-transform: translate(0, -95%);
        -ms-transform: translate(0, -95%);
        -o-transform: translate(0, -95%);
        & p
        {
          text-align: right;
          margin-right: 10%;
        }

        &__field {
          margin: 0 auto;
          width: 50%;
          margin-bottom: 5%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &__deleteBtn {
          background-color: $color-grey-dark-1;
          cursor: pointer;
          margin-bottom: 5%;
          height: 3rem;
          width: 15%;
          color: red;
          border: 2px solid red;
          border-radius: 2rem;
          -webkit-border-radius: 2rem;
          -moz-border-radius: 2rem;
          -ms-border-radius: 2rem;
          -o-border-radius: 2rem;
          transition: all .5s;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -ms-transition: all .5s;
          -o-transition: all .5s;
        }

        &__deleteBtn:hover {
          background-color: red;
          color: $color-grey-dark-1;
        }
      }

      &__addpopup {
        margin: 0 auto;
        margin-top: 3%;
        width: 80%;
        border: 2px solid $color-primary;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: $color-primary;
        text-align: center;

        &__subBtn {
          margin-top: 3%;
          margin-bottom: 5%;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          background-color: $color-grey-dark-1;
          border: 2px solid $color-primary;
          color: $color-primary;
          cursor: pointer;
          width: 15%;
          height: 3.5rem;
          border-radius: 2rem;
          -webkit-border-radius: 2rem;
          -moz-border-radius: 2rem;
          -ms-border-radius: 2rem;
          -o-border-radius: 2rem;
          transition: all .5s;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -ms-transition: all .5s;
          -o-transition: all .5s;
        }

        &__subBtn:hover {
          background-color: $color-primary;
          color: $color-grey-dark-1;
        }

        &__list {
          display: grid;
          grid-template-columns: auto auto auto auto;
          grid-template-rows: auto auto;


          &__list {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto;

            &__item {
              margin: 0 auto;
              margin-bottom: 15%;
              width: 15vh;
              padding: 2% 5%;
              cursor: pointer;
              display: flex;
              flex-direction: column;
              align-items: center;

              & p {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color: $color-primary;
              }

              & i {
                color: $color-primary;
              }
            }

            &__item:hidden {
              display: none;
            }
          }
        }
      }
    }

    &__editCheck {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 20%;
      margin-top: -5%;
      margin-bottom: 5%;
      margin-left: 60%;
    }

    &__editBtn {
      height: 3rem;
      cursor: pointer;
      width: 20%;
      background-color: $color-grey-dark-1;
      border: 2px solid $color-primary;
      color: $color-primary;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      transition: all .6s;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      -ms-transition: all .6s;
      -o-transition: all .6s;
    }

    &__editBtn:hover {
      background-color: $color-primary;
      color: $color-grey-dark-1
    }

    &__deleteBtn {
      width: 15%;
      height: 3.5rem;
      cursor: pointer;
      margin-left: 42%;
      margin-bottom: 5%;
      text-align: center;
      background-color: $color-grey-dark-1;
      color: red;
      border: 2px solid red;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
    }

    &__deleteBtn:hover {
      background-color: red;
      color: $color-grey-dark-1;
    }
  }

  &__createBtn {
    width: 12%;
    height: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $color-primary;
    cursor: pointer;
    background-color: $color-grey-dark-1;
    border: 2px solid $color-primary;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }

  &__createBtn:hover {
    background-color: $color-primary;
    color: $color-grey-dark-1;
  }

  &__createTeam {
    width: 75%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: transparent;
    border: 2px solid $color-primary;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

    & h2 {
      text-align: center;
      color: $color-primary;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-bottom: 5vh;
    }

    &__field {
      margin: 0 auto;
      margin-bottom: 5%;
      display: flex;
      justify-content: space-around;

      & label {
        font-size: 1.4rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: $color-primary;
      }

      & input {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height: 2.5rem;
        width: 20%;
        padding: 0 1%;
        border: 2px solid $color-primary;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
      }

      & input:focus {
        outline: none;
      }
    }

    &__formBtn {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-color: $color-grey-dark-1;
      border: 2px solid $color-primary;
      color: $color-primary;
      cursor: pointer;
      width: 15%;
      height: 3.5rem;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
    }

    &__formBtn:hover {
      background-color: $color-primary;
      color: $color-grey-dark-1;
    }

    &__subBtn {
      margin-left: 42.5%;
      margin-top: 3%;
      margin-bottom: 5%;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-color: $color-grey-dark-1;
      border: 2px solid $color-primary;
      color: $color-primary;
      cursor: pointer;
      width: 15%;
      height: 3.5rem;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
    }

    &__subBtn:hover {
      background-color: $color-primary;
      color: $color-grey-dark-1;
    }

    &__subBtn:disabled {
      opacity: 20%;
      cursor: default;
    }

    &__subBtn:disabled:hover {
      background-color: $color-grey-dark-1;
      color: $color-primary;
    }
  }

  &__select {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: transparent;
    border: 2px solid $color-primary;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

    & h2 {
      font-size: 1.4rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-bottom: 5%;
      color: $color-primary;
      text-align: center;
    }

    &__userList {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-template-rows: auto auto;

      &__item {
        margin: 0 auto;
        margin-bottom: 15%;
        width: 15vh;
        padding: 2% 5%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid $color-primary;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;

        & p {
          font-size: 1.4rem;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          color: $color-primary;
        }

        & i {
          color: $color-primary;
        }
      }

      &__item:hidden {
        opacity: 0%;
      }
    }
  }
}

.xBtn {
  margin-left: 95%;
  margin-top: 2%;
  background-color: red;
  border: 2px solid black;
  cursor: pointer;
  color: #fff;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.xBtn:hover {
  transform: translate(3px, -3px);
  -webkit-transform: translate(3px, -3px);
  -moz-transform: translate(3px, -3px);
  -ms-transform: translate(3px, -3px);
  -o-transform: translate(3px, -3px);
}
