<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="container">
  <div class="container__top">
    <select [(ngModel)]="focusedTeam">
      <option
        *ngFor="let team of teams"
        [ngValue]="team"
        >{{ team.name }}
      </option>
    </select>
    <h2>Teams</h2>
    <button
      type="button"
      class="container__createBtn"
      *ngIf="userRole != 'member'"
      (click)="preCreateTeam()"
      >Create Team
    </button>
  </div>

  <div class="container__team" *ngIf="focusedTeam != null && !viewMembers && !createTeam">
    <h2>Team: {{ focusedTeam.name }}</h2>
    <div class="container__team__field">
      <label for="name">Team Name: </label>
      <input
        type="text"
        [(ngModel)]="focusedTeam.name"
        (click)="preEditTeam()"
        (clickOutside)="cancelEditTeam()"
        [disabled]="userRole == 'member'"
      >
    </div>
    <div class="container__team__editCheck" *ngIf="editTeam && !createTeam">
      <button
        type="button"
        class="container__team__editBtn"
        (click)="onUpdateTeam()"
        >✓
      </button>
      <button
        type="button"
        class="container__team__editBtn"
        (click)="cancelEditTeam()"
        >X
      </button>
    </div>
    <div class="container__team__field">
      <label for="members">Members: </label>
      <button
        type="button"
        class="container__team__field__btn"
        (click)="viewTeamMembers()"
        >View
      </button>
    </div>
    <div class="container__team__field">
      <label for="sprints">Sprints: </label>
      <button
        type="button"
        class="container__team__field__btn"
        (click)="viewTeamSprints()"
        >View
      </button>
    </div>
    <button
      type="button"
      class="container__team__deleteBtn"
      (click)="onDeleteTeam()"
      *ngIf="userRole != 'member'"
      >Delete Team
    </button>
  </div>

  <div class="container__team__members" *ngIf="viewMembers && !addMembers && !createTeam">
     <button
      class="xBtn"
      type="button"
      (click)="cancelViewTeamMembers()"
      >X
    </button>
    <h2>{{ focusedTeam.name }} Members</h2>
    <div class="container__team__members__list">
      <div class="container__team__members__list__item" *ngFor="let user of activeMembers" (click)="onFocusMember(user)">
        <i class='small material-icons' *ngIf="user.id == focusedTeam.leader">star_border</i>
        <p>{{ user.name }}</p>
        <i class='large material-icons'>person</i>
      </div>
    </div>
    <button
      type="button"
      class="container__team__members__btn"
      (click)="preAddMembers()"
      *ngIf="userRole != 'member'"
      >Add Members
    </button>
  </div>

  <div class="container__team__members__popup" *ngIf="focusedUser != null && !createTeam">
    <button
      class="xBtn"
      type="button"
      (click)="cancelFocusUser()"
      >X
    </button>
    <h2>{{ focusedUser.name }}</h2>
    <p *ngIf="focusedUser.id == focusedTeam.leader">Leader</p>
    <div class="container__team__members__popup__field">
      <label for="Username">Username: </label>
      <p>{{ focusedUser.username }}</p>
    </div>
    <div class="container__team__members__popup__field">
      <label for="email">Email: </label>
      <p>{{ focusedUser.email }}</p>
    </div>
    <button
      type="button"
      class="container__team__members__popup__deleteBtn"
      *ngIf="focusedUser.id != focusedTeam.leader && userRole != 'member'"
      (click)="onRemoveUser()"
      >Remove User
    </button>
  </div>

  <div class="container__team__members__addpopup" *ngIf="addMembers && !createTeam">
    <button
      class="xBtn"
      type="button"
      (click)="cancelAddMembers()"
      >X
    </button>
    <h2>Select Members</h2>
    <div class="container__team__members__addpopup__list">
      <div
        class="container__team__members__addpopup__list__item"
        *ngFor="let user of users"
        (click)="onAddMember(user)"
        [hidden]="focusedTeam.members.includes(user.id) || user.id == focusedTeam.leader"
      >
        <i class='small material-icons' *ngIf="focusedTeam.members.includes(user.id)">check_circle</i>
        <p>{{ user.name }}</p>
        <i class='large material-icons'>person</i>
      </div>
    </div>
    <button
      class="container__team__members__addpopup__subBtn"
      (click)="onUpdateTeam()"
      [disabled]="focusedTeam.members.length == 0"
      >Confirm
    </button>
  </div>

  <div class="container__createTeam" *ngIf="createTeam && focusedTeam == null">
    <button
      class="xBtn"
      type="button"
      (click)="cancelCreateTeam()"
      >X
    </button>
    <h2>Create a Team</h2>
    <div class="container__createTeam__field">
      <label for="name">Team Name:</label>
      <input
        type="text"
        placeholder="Team Name"
        [(ngModel)]="teamName"
      >
    </div>
    <div class="container__createTeam__field">
      <label for="leader">Team Leader: </label>
      <button
        type="button"
        class="container__createTeam__formBtn"
        (click)="preSelectLeader()"
        >Select Leader
      </button>
    </div>
    <div class="container__createTeam__field">
      <label for="members">Team Members: </label>
      <button
        type="button"
        class="container__createTeam__formBtn"
        (click)="preSelectMembers()"
        >Select Members
      </button>
    </div>
    <button
      type="button"
      class="container__createTeam__subBtn"
      (click)="onCreateTeam()"
      [disabled]="teamName == null || teamLeader == null || teamMembers.length == 0"
      >Create Team
    </button>
  </div>

  <div class="container__select" *ngIf="selectLeader">
    <button
      class="xBtn"
      type="button"
      (click)="cancelSelectLeader()"
      >X
    </button>
    <h2>Select a Leader</h2>
    <div class="container__select__userList">
      <div
        class="container__select__userList__item"
        *ngFor="let user of users"
        (click)="onSelectLeader(user)"
      >
        <i class='small material-icons' *ngIf="user.id == teamLeader">star_border</i>
        <p>{{ user.name }}</p>
        <i class='large material-icons'>person</i>
      </div>
    </div>
    <button
      class="container__createTeam__subBtn"
      (click)="cancelSelectLeader()"
      [disabled]="teamLeader == null"
      >Select
    </button>
  </div>

  <div class="container__select" *ngIf="selectMembers">
    <button
      class="xBtn"
      type="button"
      (click)="cancelSelectMembers()"
      >X
    </button>
    <h2>Select Members</h2>
    <div class="container__select__userList">
      <div
        class="container__select__userList__item"
        *ngFor="let user of users"
        (click)="onSelectMember(user)"
        [hidden]="user == teamLeader"
      >
        <i class='small material-icons' *ngIf="user.id == teamLeader">star_border</i>
        <i class='small material-icons' *ngIf="teamMembers.includes(user.id)">check_circle</i>
        <p>{{ user.name }}</p>
        <i class='large material-icons'>person</i>
      </div>
    </div>
    <button
      class="container__createTeam__subBtn"
      (click)="cancelSelectMembers()"
      [disabled]="teamMembers.length == 0"
      >Select
    </button>
  </div>
</div>
