@import '../../../app.component.scss';

.container {
  display: flex;
  justify-content: space-evenly;
  transform: translate(0, -40px);
  -webkit-transform: translate(0, -40px);
  -moz-transform: translate(0, -40px);
  -ms-transform: translate(0, -40px);
  -o-transform: translate(0, -40px);
  &__info {
    width: 40%;
    background-color: $color-grey-dark-1;
    border: 2px solid $color-primary;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    &__field {
      display: flex;
      justify-content: space-around;
      margin-bottom: 7%;

      & label {
        color: $color-primary;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 0 5%;
      }

      & input {
        width: 45%;
        padding: 0 2%;
        color: $color-primary;
        background-color: $color-grey-dark-1;
        height: 30px;
        border: 2px solid $color-primary;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }

      & input:focus {
        outline: none;
      }

      & input::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }

      & textarea {
        padding: 1% 2%;
        resize: none;
        color: $color-primary;
        background-color: $color-grey-dark-1;
        line-height: 200%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border: 2px solid $color-primary;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }

      & textarea:focus {
        outline: none;
      }
    }

    &__edit {
      margin-left: auto;
      margin-right: 15%;
      margin-top: -4%;
      margin-bottom: 4%;
      width: 25%;
      display: flex;
      justify-content: space-around;
    }
  }

  &__access {
    width: 40%;
    background-color: $color-grey-dark-1;
    border: 2px solid $color-primary;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    &__addUser {
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      & p {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: $color-primary;
        text-align: center;
        margin-bottom: 7%;
      }

      & input {
        display: block;
        margin: 0 auto;
        margin-bottom: 2%;
        height: 25px;
        width: 45%;
        padding-left: 2%;
        color: $color-primary;
        background-color: $color-grey-dark-1;
        border: 2px solid $color-primary;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }

      & input:focus {
        outline: none;
      }

      & button {
        display: block;
        margin: 0 auto;
        background-color: $color-grey-dark-1;
        width: 30%;
        height: 30px;
        color: $color-primary;
        border: 2px solid $color-primary;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        cursor: pointer;
      }

      & button:hover {
        background-color: $color-primary;
        color: $color-grey-dark-1;
      }

      & button:disabled {
        opacity: 20%;
        cursor: default;
      }

      & button:disabled:hover {
        background-color: $color-grey-dark-1;
        color: $color-primary;
      }
    }

    &__manageBtn {
      display: block;
      margin: 0 auto;
      margin-top: 20%;
      background-color: $color-grey-dark-1;
      width: 30%;
      height: 40px;
      color: $color-primary;
      border: 2px solid $color-primary;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      cursor: pointer;
    }

    &__manageBtn:hover {
      background-color: $color-primary;
      color: $color-grey-dark-1;
    }
  }

  &__delete {
    margin-top: 1%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-grey-dark-1;
    border: 2px solid $color-primary;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    & p {
      margin-top: 2%;
      margin-bottom: 4%;
      font-size: 16px;
      color: $color-primary;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
    }

    & input {
      width: 30%;
      height: 35px;
      color: $color-primary;
      margin-left: 34%;
      margin-bottom: 2%;
      padding-left: 1%;
      background-color: $color-grey-dark-1;
      border: 2px solid $color-primary;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }

    & input:focus {
      outline: none;
    }
  }

  & h2 {
    color: $color-primary;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-bottom: 5%;
  }
}

.projectEditBtn {
  background-color: $color-grey-dark-1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: $color-primary;
  font-size: 16px;
  border: 2px solid $color-primary;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
  width: 20%;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.projectEditBtn:hover {
  background-color: $color-primary;
  color: $color-grey-dark-1;
}

.deleteProjectBtn {
  margin-left: 41.5%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: transparent;
  width: 16%;
  height: 35px;
  color: red;
  border: 2px solid red;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  cursor: pointer;
}

.deleteProjectBtn:hover {
  background-color: red;
  color: #fff;
}

.deleteProjectBtn:disabled {
  opacity: 20%;
  cursor: default;
}

.deleteProjectBtn:disabled:hover {
  background-color: transparent;
  color: red;
}


.loader {
  color: $color-primary;
  font-size: 10px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
