<div class="container">
  <div class="container__info">
    <h2>Project Info</h2>
    <div class="container__info__field">
      <label for="name">Name: </label>
      <input
        type="text"
        [(ngModel)]="inputProjectName"
        (click)="preEditName()"
        (clickOutside)="cancelEditName()"
        [disabled]="userRole.toLowerCase() == 'member'"
      >
    </div>
    <div class="container__info__edit" *ngIf="editName">
      <button
        class="projectEditBtn"
        type="button"
        (click)="onEditName()"
        >✓
      </button>
      <button
        class="projectEditBtn"
        type="button"
        (click)="cancelEditName()"
        >X
      </button>
    </div>
    <div class="container__info__field">
      <label for="desc">Description: </label>
      <textarea
        rows=6
        cols=30
        [(ngModel)]="inputProjectDesc"
        (click)="preEditDesc()"
        (clickOutside)="cancelEditDesc()"
        [disabled]="userRole.toLowerCase() == 'member'"
      ></textarea>
    </div>
    <div class="container__info__edit" *ngIf="editDesc">
      <button
        class="projectEditBtn"
        type="button"
        (click)="onEditDesc()"
        >✓
      </button>
      <button
        class="projectEditBtn"
        type="button"
        (click)="cancelEditDesc()"
        >X
      </button>
    </div>
    <div class="container__info__field">
      <label for="deadline">Deadline: </label>
      <input
        type="date"
        [(ngModel)]="inputProjectDeadline"
        (click)="preEditDeadline()"
        (clickOutside)="cancelEditDeadline()"
        [disabled]="userRole.toLowerCase() == 'member'"
      >
    </div>
    <div class="container__info__edit" *ngIf="editDeadline">
      <button
        class="projectEditBtn"
        type="button"
        (click)="onEditDeadline()"
        >✓
      </button>
      <button
        class="projectEditBtn"
        type="button"
        (click)="cancelEditDeadline()"
        >X
      </button>
    </div>
  </div>

  <div class="container__access" *ngIf="userRole.toLowerCase() != 'member'">
    <h2>Project Access</h2>
    <div class="container__access__addUser">
      <p>Enter a Username or Email to add user to this project</p>
      <input
        type="text"
        placeholder="Username or Email"
        [(ngModel)]="inputAddUser"
      >
      <br>
      <button
        type="button"
        (click)="addUserToProject()"
        [disabled]="inputAddUser === ''"
        >Add User!
      </button>
      <div class="loadContainer" *ngIf="addUserLoading">
        <div class="loader"></div>
      </div>
      <p
        style="color: red;"
        *ngIf="addUserFail"
        (clickOutside)="closePopups()"
        >No account found! Please try again!
      </p>
      <p
        style="color: red;"
        *ngIf="addUserError"
        (clickOutside)="closePopups()"
        >Something went wrong!
      </p>
      <p
        class="successText"
        *ngIf="addUserSuccess"
        (clickOutside)="closePopups()"
        >{{ addedName }} has been added to the project!
      </p>
      <p
        style="color: red"
        *ngIf="userExists"
        (clickOutside)="closeUserExists()"
        >That user is already connected to this project!
      </p>
    </div>
    <button
      type="button"
      class="container__access__manageBtn"
      (click)="manageProjectUsers()"
      *ngIf="!addUserLoading"
      >Manage Users
    </button>
  </div>
</div>

<div class="container__delete" *ngIf="userRole.toLowerCase() == 'owner'">
  <h2>Delete Project</h2>
  <p>Please type the name of your project to confirm deleting</p>
  <p>Project Name: {{ project.name }}</p>
  <input
    type="text"
    placeholder="Project Name"
    [(ngModel)]="inputDeleteName"
  >
  <br>
  <button
    class="deleteProjectBtn"
    type="button"
    (click)="deleteProject()"
    [disabled]="inputDeleteName != this.project.name || loading"
    >Delete Project
  </button>
</div>
