<div class="container">
  <div class="container__info">
    <h2>Project Info</h2>
    <div class="container__info__field">
      <label for="name">Name: </label>
      <input
        type="text"
        [(ngModel)]="inputProjectName"
        (click)="preEditName()"
        (clickOutside)="cancelEditName()"
      >
    </div>
    <div class="container__info__edit" *ngIf="editName">
      <button
        class="projectEditBtn"
        type="button"
        (click)="onEditName()"
        >✓
      </button>
      <button
        class="projectEditBtn"
        type="button"
        (click)="cancelEditName()"
        >X
      </button>
    </div>
    <div class="container__info__field">
      <label for="desc">Description: </label>
      <textarea
        rows=6
        cols=40
        [(ngModel)]="inputProjectDesc"
        (click)="preEditDesc()"
        (clickOutside)="cancelEditDesc()"
      ></textarea>
    </div>
    <div class="container__info__edit" *ngIf="editDesc">
      <button
        class="projectEditBtn"
        type="button"
        (click)="onEditDesc()"
        >✓
      </button>
      <button
        class="projectEditBtn"
        type="button"
        (click)="cancelEditDesc()"
        >X
      </button>
    </div>
    <div class="container__info__field">
      <label for="deadline">Deadline: </label>
      <input
        type="date"
        [(ngModel)]="inputProjectDeadline"
        (click)="preEditDeadline()"
        (clickOutside)="cancelEditDeadline()"
      >
    </div>
    <div class="container__info__edit" *ngIf="editDeadline">
      <button
        class="projectEditBtn"
        type="button"
        (click)="onEditDeadline()"
        >✓
      </button>
      <button
        class="projectEditBtn"
        type="button"
        (click)="cancelEditDeadline()"
        >X
      </button>
    </div>
  </div>

  <div class="container__access">
    <h2>Project Access</h2>
    <div class="container__access__addUser">
      <p>Enter a Username or Email to add user to this project</p>
      <input
        type="text"
        placeholder="Username or Email"
        [(ngModel)]="inputAddUser"
      >
      <br>
      <button
        type="button"
        (click)="addUserToProject()"
        [disabled]="inputAddUser === ''"
      >Add User!</button>
    </div>
  </div>
</div>

<div class="container__delete">
  <p>Please type the name of your project to confirm deleting</p>
  <p>Project Name: {{ project.name }}</p>
  <input
    type="text"
    placeholder="Project Name"
    [(ngModel)]="inputDeleteName"
  >
  <br>
  <button
    class="deleteProjectBtn"
    type="button"
    (click)="deleteProject()"
    [disabled]="inputDeleteName != this.project.name || loading"
    >Delete Project
  </button>
</div>
