@import '../../../app.component.scss';
.container {
  display: flex;
  justify-content: space-evenly;
  min-height: 200px;
  float: left;
  margin-left: 10%;

  &__issue {
    background-color: $color-grey-dark-1;
    margin-right: 15%;
    min-width: 850px;
    height: 700px;
    border: 2px solid $color-primary;
    z-index: 2;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    & h2 {
      color: $color-primary;
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin-top: 5%;
    }

    & hr {
      color: $color-secondary;
      background-color: $color-primary;
      width: 75%;
      margin-bottom: 5%;
    }

    &__list {
      &__item {
        margin-left: auto;
        margin-right: auto;
        background-color: $color-grey-dark-1;
        border: 2px solid $color-primary;
        width: 75%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;
        margin-bottom: 5%;

        & p {
          color: $color-primary;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }


        &__error {
          margin-left: 10%;
          margin-top: 5%;
          & h4 {
            color: $color-secondary;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          }
        }
      }

      &__item.cdk-drag-placeholder {
        opacity: 0%;
      }
    }

    &__focus {
      background-color: $color-primary;
      position: absolute;
      z-index: 3;
      margin-left: 5.2%;
      margin-top: 6%;
      width: 35%;
      border: 2px solid $color-grey-light-1;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;

      & h2 {
        color: $color-grey-dark-1;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 10%;
      }

      &__container {
        margin-bottom: 5%;
        display: flex;
        justify-content: space-around;

        & label {
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          color: $color-grey-dark-1;
        }
      }

      &__input {
        height: 25px;
        width: 36%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius: 20px;
        padding-left: 1%;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border: 2px solid $color-grey-dark-1;
      }

      &__input:focus {
        outline: none;
      }

      &__textarea {
        resize: none;
        padding-left: 1%;
        padding-top: 1%;
        border: 2px solid $color-grey-dark-1;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }

      &__textarea:focus {
        outline: none;
      }

      &__edit {
        margin-left: 65%;
        margin-bottom: 2%;
        margin-top: -1%;
      }
    }
  }

  &__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 15%;
  }

  &__createIssue {
    background-color: $color-grey-dark-1;
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 20%;
    margin-right: 3%;
    border: 2px solid $color-primary;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    & h4 {
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: $color-primary;
      transform: translate(0, -20px);
      -webkit-transform: translate(0, -20px);
      -moz-transform: translate(0, -20px);
      -ms-transform: translate(0, -20px);
      -o-transform: translate(0, -20px);
    }
  }

  &__createSprint {
    background-color: $color-grey-dark-1;
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10%;
    margin-right: 3%;
    border: 2px solid $color-primary;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 10%;

    &__field {
      display: flex;
      justify-content: space-around;
      margin-bottom: 7%;

      &__label {
        color: $color-primary;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

      &__input {
        height: 25px;
        width: 35%;
        padding-left: 1%;
        border: 2px solid $color-primary;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }

      &__input:focus {
        outline: none;
      }

      &__select {
        height: 30px;
        cursor: pointer;
        width: 36%;
        padding: 0 1%;
        border: 2px solid $color-primary;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
      }

      &__select:focus {
        outline: none;
      }
    }

    &__list {
      width: 80%;
      background-color: #fff;
      border: 2px solid $color-primary;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 1%;
      padding-bottom: 10%;
      margin-bottom: 5%;

      &__item {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid $color-primary;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        display: flex;
        justify-content: space-around;
        background-color: $color-grey-dark-1;
        margin-bottom: 3%;
        color: $color-primary;
        cursor: pointer;
      }

      &__item.cdk-drag-placeholder {
        opacity: 0;
      }

      & h5 {
        color: $color-grey-dark-1;
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 16px;
        transform: translate(0, -20px);
        -webkit-transform: translate(0, -20px);
        -moz-transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
        -o-transform: translate(0, -20px);
      }
    }

    &__subBtn {
      margin-left: 35%;
      margin-bottom: 5%;
      width: 30%;
      height: 35px;
      background-color: $color-grey-dark-1;
      color: $color-primary;
      border: 2px solid $color-primary;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;
      cursor: pointer;
    }

    &__subBtn:disabled {
      cursor: default;
      opacity: 20%;
    }

    &__subBtn:disabled:hover {
      background-color: $color-grey-dark-1;
      color: $color-primary;
    }

    &__subBtn:hover {
      background-color: $color-primary;
      color: $color-grey-dark-1;
    }

    & h4 {
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: $color-primary;
      transform: translate(0, -20px);
      -webkit-transform: translate(0, -20px);
      -moz-transform: translate(0, -20px);
      -ms-transform: translate(0, -20px);
      -o-transform: translate(0, -20px);
    }

    & p {
      font-size: 8;
      color: $color-primary;
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    & hr {
      width: 75%;
      margin-bottom: 5%;
    }
  }
}

.issueEditBtn {
  margin-right: 15%;
  background-color: $color-grey-dark-1;
  color: $color-primary;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 20%;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.issueEditBtn:hover {
  background-color: $color-primary;
  color: $color-grey-dark-1;
}

.deleteBtn {
  margin-top: 2%;
  width: 20%;
  height: 30px;
  margin-left: 35%;
  margin-bottom: 5%;
  border: 2px solid red;
  background-color: $color-primary;
  color: red;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.deleteBtn:hover {
  background-color: red;
  color: $color-primary;
  border: 2px solid $color-primary;
}

.deleteBtn:disabled {
  opacity: 20%;
}

.deleteBtn:disabled:hover {
  cursor: default;
  background-color: transparent;
  border: 2px solid red;
  color: red;
}

.issueForm {

  &__container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
  }

  &__label {
    width: 15%;
    margin-right: 5%;
    & label {
      color: $color-primary;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  }

  &__input {
    height: 25px;
    width: 40%;
    padding-left: 10px;
    border: 2px solid $color-primary;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  &__input:focus {
    outline: none;
  }

  &__textarea {
    resize: none;
    padding-left: 10px;
    border: 2px solid $color-primary;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  &__textarea:focus {
    outline: none;
  }

  &__btn {
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 25%;
    height: 30px;
    color: $color-primary;
    background-color: $color-grey-dark-1;
    border: 2px solid $color-primary;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
  }

  &__btn:hover {
    background-color: $color-primary;
    background-image: linear-gradient(to right, $color-primary-light, $color-secondary);
    color: $color-grey-dark-1
  }

  &__btn:disabled {
    opacity: 25%;
    cursor: default;
  }

  &__btn:disabled:hover {
    background-color: $color-grey-dark-1;
    border: solid 2px $color-primary;
    background-image: none;
    color: $color-primary;
  }
}

.issueBtn {
  margin: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-size: 200% auto;
  color: $color-grey-dark-1;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  width: 145%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.8s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  -webkit-transition: all 0.8s cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 0.8s cubic-bezier(.25,.8,.25,1);
  -ms-transition: all 0.8s cubic-bezier(.25,.8,.25,1);
  -o-transition: all 0.8s cubic-bezier(.25,.8,.25,1);
  background-image: linear-gradient(to right, $color-primary-light 0%, $color-secondary 51%, $color-primary 100%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.issueBtn:hover {
  background-position: right center;
}

.sprintBtn {
  margin: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-size: 200% auto;
  color: $color-grey-dark-1;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  width: 145%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.8s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  -webkit-transition: all 0.8s cubic-bezier(.25,.8,.25,1);
  -moz-transition: all 0.8s cubic-bezier(.25,.8,.25,1);
  -ms-transition: all 0.8s cubic-bezier(.25,.8,.25,1);
  -o-transition: all 0.8s cubic-bezier(.25,.8,.25,1);
  background-image: linear-gradient(to right, $color-primary-light 0%, $color-secondary 51%, $color-primary 100%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.sprintBtn:hover {
  background-position: right center;
}

.xbtn {
  margin-left: 90%;
  margin-top: 5%;
  cursor: pointer;
  background-color: red;
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}

.xbtn:hover {
  transform: translate(3px, -3px);
  -webkit-transform: translate(3px, -3px);
  -moz-transform: translate(3px, -3px);
  -ms-transform: translate(3px, -3px);
  -o-transform: translate(3px, -3px);
}

// Project Loader (Should probably make this more DRY)
.loader {
  color: $color-primary;
  font-size: 10px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
