<div class="completedIssues">
  <button
    class="completedIssues__btn"
    (click)="viewCompletedIssues()"
    *ngIf="!completedIssues"
    >Completed Issues
  </button>
</div>

<div class="container__issue" *ngIf="completedIssues">
  <button
    class="xbtn"
    (click)="closeCompletedIssues()"
    >x
  </button>

  <!--TODO List all completed issues in container-->
</div>

<div class="container" *ngIf="!completedIssues">
  <div class="container__issue">
    <h2>Project Backlog</h2>
    <hr>
    <div class="loadContainer" *ngIf="issuesLoading">
      <div class="loader"></div>
    </div>
    <div
      class="container__issue__list"
      *ngIf="!issuesLoading"
      cdkDropList
      id="issueList"
      [cdkDropListConnectedTo]="['sprintList']"
      (cdkDropListDropped)="issueDrop($event)"
      >
      <div
        class="container__issue__list__item"
        *ngFor="let issue of issues
        | paginate:
          {
            id: 'issue',
            itemsPerPage: 5,
            currentPage: this.pageNumber
          }
        "
        (click)="focusIssue(issue)"
        cdkDrag
      >
        <p>{{ (issue.name.length > 30) ? (issue.name | slice:0:30) + '...' : (issue.name) }}</p>
        <p>{{ issue.time }} hours</p>
      </div>
      <div class="container__issue__list__item__error" *ngIf="issues.length == 0">
        <h4>No Issues found! Try creating a few!</h4>
      </div>
      <style>

        .projectPagination /deep/ .ngx-pagination .current {
          background: rgb(41, 224, 209);
          border: 2px solid rgb(84, 85, 84);
          border-radius: 20px;
        }

        .projectPagination /deep/ .ngx-pagination a {
          border-radius: 20px;
          color: #fff;
          margin-left: 10px;
          margin-right: 10;
        }

        .projectPagination /deep/ .ngx-pagination a:hover {
          background: rgb(41, 224, 209);
        }


      </style>
      <pagination-controls
        class="projectPagination"
        (pageChange)="setPageNumber($event)"
        id="issue"
        *ngIf="issues.length > 5">
      </pagination-controls>
    </div>
  </div>

  <div class="container__btn">
    <button
      class="sprintBtn"
      (click)="preCreateSprint()"
      *ngIf="!createIssue && !createSprint && userRole.toLowerCase() != 'member'"
      >Create Sprint
    </button>

    <button
      class="issueBtn"
      (click)="preCreateIssue()"
      *ngIf="!createIssue && !createSprint && userRole.toLowerCase() != 'member'"
      >Create Issue
    </button>
  </div>
</div>

<div class="container__createIssue" *ngIf="createIssue">
  <button
    class="xbtn"
    (click)="cancelCreateIssue()"
    >X
  </button>

  <h4>Create an Issue</h4>

  <form class="issueForm" [formGroup]="issueForm" (ngSubmit)="onSubmitIssue()">
    <div class="issueForm__container">
      <div class="issueForm__label">
        <label for="name">Name: </label>
      </div>
      <input
        type="text"
        id="name"
        class="issueForm__input"
        placeholder="Name"
        formControlName="name"
      >
    </div>

    <div class="issueForm__container">
      <div class="issueForm__label">
        <label for="desc">Description: </label>
      </div>
      <textarea
        id="desc"
        class="issueForm__textarea"
        rows=3
        cols=30
        placeholder="Description"
        formControlName="desc"
      ></textarea>
    </div>

    <div class="issueForm__container">
      <div class="issueForm__label">
        <label for="time">Est Time: </label>
      </div>
      <input
        type="number"
        id="time"
        class="issueForm__input"
        placeholder="2"
        formControlName="time"
      >
    </div>

    <button
      type="submit"
      class="issueForm__btn"
      [disabled]="!issueForm.valid"
      >Create Issue
    </button>
  </form>

  <div class="loadContainer" *ngIf="issueLoading">
    <div class="loader2"></div>
  </div>
</div>

<div class="container__createSprint" *ngIf="createSprint">
  <button
    class="xbtn"
    (click)="cancelCreateSprint()"
    >X
  </button>

  <h4>Create a Sprint</h4>
  <div class="container__createSprint__field">
    <label
      for="sprintTeam"
      class="container__createSprint__field__label"
      >Team:
    </label>
    <select
      class="container__createSprint__field__select"
      [(ngModel)]="team"
    >
      <option
        *ngFor="let team of teams"
        [ngValue]="team"
        >{{ team.name }}
      </option>
    </select>
  </div>
  <form [formGroup]="sprintForm" (ngSubmit)="onSubmitSprint()">
    <div class="container__createSprint__field">
      <label
        for="sprintName"
        class="container__createSprint__field__label"
        >Name:
      </label>
      <input
        type="text"
        placeholder="Sprint Name"
        class="container__createSprint__field__input"
        formControlName="name"
      >
    </div>
    <div class="container__createSprint__field">
      <label
        for="sprintDeadline"
        class="container__createSprint__field__label"
        >Deadline:
      </label>
      <input
        type="date"
        placeholder="Deadline"
        class="container__createSprint__field__input"
        formControlName="deadline"
      >
    </div>
    <p>Drag issues from the backlog to add them to this sprint!</p>
    <hr>
    <div
      cdkDropList
      class="container__createSprint__list"
      id="sprintList"
      [cdkDropListConnectedTo]="['issueList']"
      (cdkDropListDropped)="sprintDrop($event)">
        <h5>Selected Issues</h5>
        <div
          class="container__createSprint__list__item"
          (click)="focusIssue(issue)"
          *ngFor="let issue of issuesSprint
          | paginate:
          {
            id: 'sprint',
            itemsPerPage: 4,
            currentPage: this.sprintPageNumber
          }"
          cdkDrag>
          <p>{{ (issue.name.length > 20) ? (issue.name | slice:0:20) + '...' : (issue.name) }}</p>
          <p>{{ issue.time }}</p>
        </div>
        <style>

          .sprintPagination /deep/ .ngx-pagination .current {
            background: rgb(84, 85, 84);
            border: 2px solid rgb(41, 224, 209);
            border-radius: 20px;
          }

          .sprintPagination /deep/ .ngx-pagination a {
            border-radius: 20px;
            color: rgb(84, 85, 84);
            margin-left: 10px;
            margin-right: 10;
          }

          .sprintPagination /deep/ .ngx-pagination a:hover {
            background: rgb(41, 224, 209);
            border: 2px solid rgb(84, 85, 84);
          }


        </style>
        <pagination-controls
          class="sprintPagination"
          (pageChange)="setSprintPageNumber($event)"
          id="sprint"
          *ngIf="issuesSprint.length > 4">
        </pagination-controls>
    </div>
    <button
      type="submit"
      class="container__createSprint__subBtn"
      [disabled]="!sprintForm.valid || issuesSprint.length < 1"
      >Create Sprint
    </button>
  </form>

  <div class="loadContainer" *ngIf="sprintLoading">
    <div class="loader2"></div>
  </div>
</div>

<div class="container__issue__focus" *ngIf="issuePopup != null">
  <button
    class="xbtn"
    (click)="closeIssue()"
    >X
  </button>
  <h2>Issue Focus</h2>
  <div class="container__issue__focus__container">
    <label for="name">Name: </label>
    <input
      id="name"
      type="text"
      class="container__issue__focus__input"
      [(ngModel)]="issueName"
      [disabled]="userRole.toLowerCase() == 'member'"
      (click)="preEditName()"
      (clickOutside)="cancelEditName()"
      #name="ngModel"
    >
  </div>
  <div class="container__issue__focus__edit" *ngIf="editName">
    <button
      class="issueEditBtn"
      type="button"
      (click)="onEditName(issueName)"
      >✓
    </button>
    <button
      class="issueEditBtn"
      type="button"
      (click)="cancelEditName()"
      >X
    </button>
  </div>
  <br>
  <div class="container__issue__focus__container">
    <label for="desc">Description: </label>
    <textarea
      id="desc"
      class="container__issue__focus__textarea"
      rows=3
      cols=34
      [(ngModel)]="issueDesc"
      [disabled]="userRole.toLowerCase() == 'member'"
      (click)="preEditDesc()"
      (clickOutside)="cancelEditDesc()"
      #desc="ngModel"
    ></textarea>
  </div>
  <div class="container__issue__focus__edit" *ngIf="editDesc">
    <button
      class="issueEditBtn"
      type="button"
      (click)="onEditDesc(issueDesc)"
      >✓
    </button>
    <button
      class="issueEditBtn"
      type="button"
      (click)="cancelEditDesc()"
      >X
    </button>
  </div>
  <br>
  <div class="container__issue__focus__container">
    <label for="time">Est Hours: </label>
    <input
      id="time"
      type="number"
      class="container__issue__focus__input"
      [(ngModel)]="issueTime"
      [disabled]="userRole.toLowerCase() == 'member'"
      (click)="preEditTime()"
      (clickOutside)="cancelEditTime()"
      #time="ngModel"
    >
  </div>
  <div class="container__issue__focus__edit" *ngIf="editTime">
    <button
      class="issueEditBtn"
      type="button"
      (click)="onEditTime(issueTime)"
      >✓
    </button>
    <button
      class="issueEditBtn"
      type="button"
      (click)="cancelEditTime()"
      >X
    </button>
  </div>
  <button
    class="deleteBtn"
    type="button"
    (click)="deleteIssue(issuePopup)"
    [disabled]="userRole.toLowerCase() == 'member'"
  >Delete
  </button>
</div>
