@import "../../app.component.scss";

.container {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: auto;
  width: 45%;
  background-color: $color-grey-dark-1;
  border-radius: 20px;
  border: 2px solid $color-primary;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.regForm {
  h3 {
    margin-left: 35%;
    margin-bottom: 5%;
    color: $color-primary;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  & label {
    margin-right: 5%;
    color: $color-primary;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  &__input {
    margin-bottom: 25px;
    margin-right: 5%;
    height: 30px;
    width: 45%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

  &__input:focus {
    width: 50%;
  }

  &__input.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  &__label {
    width: 15%
  }

  &__submitBtn:enabled {
    margin-bottom: 5%;
    margin-left: 35%;
    margin-top: 3%;
    width: 18%;
    height: 35px;
    color: $color-primary;
    background-color: $color-grey-dark-1;
    border: 2px solid $color-primary;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    cursor: pointer;
}

&__submitBtn:disabled {
  margin-bottom: 5%;
    margin-left: 35%;
    margin-top: 3%;
    width: 18%;
    height: 35px;
    color: $color-primary;
    background-color: $color-grey-dark-1;
    border: 2px solid $color-primary;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    opacity: 25%;
}

&__submitBtn:enabled:hover {
  background-color: $color-primary;
  color: $color-grey-dark-1;
  border: 2px solid #fff;
  transform: translate(5px, -5px);
  -webkit-transform: translate(5px, -5px);
  -moz-transform: translate(5px, -5px);
  -ms-transform: translate(5px, -5px);
  -o-transform: translate(5px, -5px);
}

&__submitBtn:disabled:hover {
  cursor: default;
}

  &__xBtn {
    margin-left: 90%;
    margin-top: 5%;
    background-color: red;
    color: #fff;
    border-radius: 35%;
    border: 2px solid rgba(0, 0, 0, 0.541);
    -webkit-border-radius: 35%;
    -moz-border-radius: 35%;
    -ms-border-radius: 35%;
    -o-border-radius: 35%;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

&__xBtn:hover {
  transform: translate(2px, -2px);
  -webkit-transform: translate(2px, -2px);
  -moz-transform: translate(2px, -2px);
  -ms-transform: translate(2px, -2px);
  -o-transform: translate(2px, -2px);
}

  &__container {
    display: flex;
    justify-content: space-evenly;
  }
}

.errorText {
  color: red;
  text-shadow: 0 0 2px #000;
  width: 25%;
  margin-left: 42%;
  margin-top: 5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.success {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-primary;
  background-size: cover;
  backdrop-filter: blur(20px);
  transform: translate(500px, -400px);
  -webkit-transform: translate(500px, -400px);
  -moz-transform: translate(500px, -400px);
  -ms-transform: translate(500px, -400px);
  -o-transform: translate(500px, -400px);
  border: 2px solid $color-grey-dark-1;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  & h2 {
    margin-left: 28%;
    margin-bottom: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  &__btn {
    margin-left: 35%;
    margin-bottom: 5%;
    width: 25%;
    height: 35px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: $color-primary;
    border: 2px solid $color-grey-dark-1;
    cursor: pointer;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  &__btn:hover {
    transform: translate(5px, -5px);
    -webkit-transform: translate(5px, -5px);
    -moz-transform: translate(5px, -5px);
    -ms-transform: translate(5px, -5px);
    -o-transform: translate(5px, -5px);
    background-color: $color-grey-dark-1;
    border: 2px solid $color-primary;
    color: $color-primary;
  }
}
