<div class="container">
  <form class="logForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <button
      class="logForm__xBtn"
      type="button"
      (click)="onCancelLog()"
      >X
    </button>
    <h2>Log in to your account!</h2>
    <br>
    <div class="logForm__container">
      <div class="logForm__label">
        <label for="credentials">Username or Email: </label>
      </div>
      <input
        type="text"
        id="credentials"
        class="logForm__input"
        placeholder="Username or Email"
        formControlName="credentials"
      >
    </div>
    <br>
    <div class="logForm__container">
      <div class="logForm__label">
        <label for="password">Password: </label>
      </div>
      <input
        type="password"
        id="password"
        class="logForm__input"
        placeholder="Password"
        formControlName="password"
      >
    </div>
    <p class="errorText" *ngIf="loginFail">Incorrect Username/Email or Password!</p>
    <br>
    <button
      type="submit"
      class="logForm__submitBtn"
      [disabled]="!loginForm.valid"
      >Log in!
    </button>
  </form>
  <div class="loader" *ngIf="loading"></div>
</div>
