<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="loadContainer" *ngIf="loading">
  <h4>Please Wait</h4>
  <div class="loader"></div>
</div>
<div class="container" *ngIf="!loading">
  <div class="container__list">
    <div class="container__list__userbox" *ngFor="let user of users" (click)="onFocusUser(user)">
      <p>{{ user.name }}</p>
      <i class='large material-icons'>person</i>
    </div>
  </div>

  <div class="container__focus" *ngIf="focusedUser != null">
    <button
      class="xbtn"
      type="button"
      (click)="closeUserFocus()"
      >X
    </button>
    <h2>{{ focusedUser.name }}</h2>
    <p>Username: {{ focusedUser.username }}</p>
    <p>Email: {{ focusedUser.email }}</p>
    <div class="container__focus__role">
      <p>Role: </p>
      <select name="role" id="role">
        <option value="member" [selected]="focusedUser.role == 'member'">Member</option>
        <option value="admin" [selected]="focusedUser.role == 'admin'">Admin</option>
      </select>
    </div>
    <button
      class="container__focus__removeBtn"
      type="button"
      (click)="removeFromProject()"
      >Remove User
    </button>
  </div>
</div>
